*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    color: $text;
    font-family: $font;
    vertical-align: baseline;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

footer,
header,
nav,
section,
main {
    display: block;
}


body {
    background-color: $background;
    line-height: 1;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    color: $heading-text;
    font-family: $heading-font;
    transition: 0.35s ease-in-out;
    padding: 0;
    margin: 0;
}


ol,
ul {
    list-style: none;
}


table {
    border-collapse: collapse;
    border-spacing: 0;
}

input {
    border-radius: 0;
}

button {
    color: $text;
    border: none;
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1440px;
    margin-inline: auto;
    padding-inline: 5rem;

    @include respond(tablet-landscape) {
        padding-inline: 1.5rem;
    }

    @include respond(phone) {
        padding-inline: 0.75rem;
    }
}


.primary-text {
    color: $primary;
}

.accent-text {
    color: $accent;
}

.light-theme {
    @include light-theme;
}

.main-button {
    width: fit-content;
    padding: 0.75rem 1rem;
    border-radius: 1.25rem 0.3rem;
    cursor: pointer;
    transition: 0.35s ease-in-out;
    border: 2px solid $primary-shade;
    font-size: 1.15rem;

    a {
        display: flex;
        justify-content: center;
        gap: 0.35rem;
    }

    svg {
        transition: 0.35s ease-in-out;
    }


    &:hover {
        svg {
            color: $accent;
        }

        background-color: $primary-shade;
        border-color: $primary;
    }

    @include respond(tablet-portrait) {
        border: none;
        font-size: 1.5rem;

        &:hover {
            border: none;
            background-color: transparent;
        }

        span {
            display: none;
        }
    }
}

.theme-button {
    font-size: 1.5rem;
    cursor: pointer;
}