.not-found {
  height: 100svh;
  background-color: $background-shade;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  padding: 1em;
  position: relative;

  img {
    position: absolute;
    bottom: 7rem;
    right: 7rem;
    cursor: pointer;
    transition: transform 200ms ease, filter 200ms ease;

    &:hover {
      transform: scale(1.1);
      filter: brightness(1.2);
    }

    @include respond(tablet-landscape) {
      bottom: 2rem;
      right: 2rem;
      width: 150px;
      height: auto;
    }
  }

    p {
      position: absolute;
      top: 20rem;
      left: 0;
      margin-top: 0;
      font-size: 3rem;
      transform: rotate(-45deg);

      @include respond(tablet-landscape) {
        top:9rem;
        left:-3rem;
        font-size: 2.5rem;

        transform: rotate(-45deg);
      }
    }
  }


  .background-wrapper h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    font-size: 60vmax;
    color: $background;
    letter-spacing: 0.025em;
    margin: 0;
    transition: 750ms ease-in-out;
    pointer-events: none;
  }