@mixin respond($breakpoint) {
    @if $breakpoint ==phone {
        @media screen and (max-width: 600px) {
            @content;
        }
    }

    @if $breakpoint ==tablet-portrait {
        @media screen and (max-width: 900px) {
            @content;
        }
    }

    @if $breakpoint ==tablet-landscape {
        @media screen and (max-width: 1200px) {
            @content;
        }
    }
}

@mixin light-theme {
    $background: $background-light;
    $background-shade: $background-shade-light;
    $primary: $primary-light;
    $primary-shade: $primary-shade-light;
    $accent: $accent-light;
    $accent-shade: $accent-shade-light;
    $text: $text-light;
    $text-shade: $text-shade-light;
    $heading-text: $heading-text-light;
}