.navbar {
    position: relative;

    &-container {
        z-index: 500;
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        bottom: 2.5rem;

        @include respond(tablet-portrait) {
            bottom: 1rem;
        }
    }

    &-menu {
        background: $accent-shade;
        backdrop-filter: blur(50px);
        padding: 1.5rem 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        border-bottom: 3px solid $accent;
        font-size: 2rem;
        border-radius: $border-radius;

        a {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $heading-text;
            text-decoration: none;
            transition: 0.35s ease-in-out;

            h4 {
                position: absolute;
                top: -3.5rem;
                left: 50%;
                transform: translateX(-50%);
                visibility: hidden;
                opacity: 0;
                transition: visibility 0s, opacity 0.35s ease-in-out;
                font-size: 1.5rem;
                white-space: nowrap;
            }

            &:hover h4 {
                visibility: visible;
                opacity: 1;
            }

            svg {
                z-index: 1;
            }

        }

        li:hover a,
        li:hover a.current {
            color: $background-shade;
        }

        li a.current,
        li a.current h4 {
            color: $accent;
        }
    }

}